
$content-width:528px;
$swap-button-size:42px;

.coinInputWrapper{
    border-radius: 12px;
    padding: 16px 16px 16px 16px;
    position: relative;
    border:1px solid $color-line;
    width: 528px;
}

.direction{
    color: $color-TertiaryText;
    font-weight: $font-weight-semi-bold;
}

.balance{
    color: $color-DisabledText;
}

.coinInputHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.inputGroup {
display: flex;
gap: 8px;
align-items: center;
}

.error{
    margin-top: 4px;
    height: 24px;
    color: $color-Error;
    text-align: end;
}


@media screen and (max-width: $breakpoint-sm) {
    $content-width: 100vw;

    .coinInputWrapper {
      width: $content-width; 
      max-width: 90vw; 
    }
}
