
.successModal {
  :global(.ant-modal-content) {
    background-color: $color-CardBg;
    padding: 24px;
  }

  :global(.ant-modal-title) {
    color: $color-PrimaryText !important;
    font-size: $font-size-xlg !important;
    background-color: $color-CardBg;

    text-align: center;
  }

  :global(.ant-modal-close) {
    color: $color-PrimaryText;
  }
}

.animationContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.modalContent {
  text-align: center;
  font-size: 1.1rem;
  color: $color-PrimaryText;
  
  strong {
    color: $color-SecondaryText;
  }
}

.modalButton {
  padding: 8px 16px;
}

