.logoWrapper{
    display: flex;
    gap: 8px;
    align-items: center; 
}

.table{

    :global(.ant-table-row){
        cursor: pointer;
    }
}

.increase{
    color:$color-textSell
}

.decrease{
    color:$color-textBuy
}

.mainHeader{
    font-size: 48px;
    color:$color-textPrimary;
    text-align: center;
  }