.chartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}


.timeRangeList {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 16px;
}

.timeRangeItem {
    cursor: pointer;
    font-size: $font-size-xs;
    color: $color-textDisabled;
    font-weight: $font-weight-semi-bold;

    &:hover {
        color: $color-PrimaryYellow;
    }

    &.active {
        color: $color-PrimaryYellow;
        font-weight: bold;
    }
}

.chartWrapper {
    width: 80%;
    height: 300px;
}


@media screen and (max-width: $breakpoint-sm) {
    .chartWrapper {
      width: 95%;
    }
}