
body{
    padding: 0;
    margin: 0;
    background-color: $color-bg;
    font-family: $font-primary;

    // TODO NOT SURE
    *{
        box-sizing: border-box;
    }

    .content{
        margin-top: $header-height;
    }
}


::-webkit-scrollbar {
    width: 6px;
  }
  
   
::-webkit-scrollbar-thumb {
    background: $color-bg4; 
    border-radius: 4px;
  }
  